<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
<body>
  <%- include('../layout/header.ejs') %>
</body>
<section>
  <h4>Playlist Options</h4>
</section>
<main>
  
</main>
</html>