<%- include('../../layout/head.ejs') %>
    <body>
        <%- include('../../layout/header.ejs') %>
        <header class="search">
            <div class="header-content">
                <h1>OneSound</h1>
                <h3>a global music generator</h3>
                <form action="/searches" method="post">
                    <input type="text" name="search" placeholder="Search for an artist, song title, or genre" required>
                    <select name="search" required>
                        <option value="artist">Artist</option>
                        <option value="genre">Genre</option>
                    </select>
                    <button type="submit">Search</button> 
                </form>
            </div>
        </header>
        <main>
            <h2>Your Customized Playlist</h2>
            <section class="playlist">
                <% playList.forEach(song => { %>
                    <li>
                        <%- include('../detail.ejs', {song: song}) %>
                            <input id="add-butt" type="submit" value="Add">
                        </form>
                    </li>
                <% }); %>
            </section>
        </main>
        <%- include('../../layout/footer.ejs') %>
    </body>

</html>