<%- include('../../layout/head.ejs') %>
    <body>
        <%- include('../../layout/header.ejs') %>
        <main>
            <h2>Oh no!</h2>
            <section class="playlist">
                <h3>You encountered an error. Please try again!</h3>
            </section>
        </main>
        <%- include('../../layout/footer.ejs') %>
    </body>

</html>