<%- include('../layout/head.ejs') %>
<body>
  <%- include('../layout/header.ejs') %>
  <header class="search">
        <div class="header-content">
            <h1>OneSound</h1>
            <h3>a global music generator</h3>
            <form action="/searches" method="post">
                <input type="text" name="search" placeholder="Search for an artist, song title, or genre" required>
                <select name="search" required>
                    <option value="artist">Artist</option>
                    <option value="genre">Genre</option>
                </select>
                <button type="submit">Search</button> 
            </form>
        </div>
    </header>
  <main>
    <h2>Your Saved Playlist</h2>
        <p>Songs you are interested in will be saved below. You may add more or delete at any time. Enjoy! :)</p>
            <section class="playlist">
                <% playList.forEach(song => { %>
                    <li>
                        <%- include('./detail.ejs', {song: song}) %>
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Remove from playlist</button>
                        </form>
                    </li>
                <% }); %>
</main>
    <section class="how-to-search">
        <div>
            <h2>Search to add new songs to your playlist!</h2>
        </div>
    </section>
<%- include('../layout/footer') %>

</body>
