@import url('https://fonts.googleapis.com/css?family=Barlow|Timmana');
@import url('./reset.css');
@import url('./layout.css');
@import url('./modules.css');

*{
    box-sizing: border-box;
}
body{
    font-family: Barlow, Arial, sans-serif;
    margin: 0;
}


main{
    padding: 20px;
}

.how-to-search{
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: 5px solid #5ca8df;
    padding: 15px;
}

figure{
    width: calc(100%/3 - 10px);
    margin: 15px;
}



/* Text styling */
h1, h2{
    font-family: Timmana, Arial, Helvetica, sans-serif;
}
h1{
    font-size: 84pt;
    color: white;
    text-shadow: 3px 3px #5ca8df;
}
h2{
    font-size: 24pt;
    margin-top: 15px;
}
h3{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 15px;
}
h5{
    font-size: 14pt;
}
