@import url('https://fonts.googleapis.com/css?family=Barlow|Timmana');
@import url('./reset.css');
@import url('./layout.css');
@import url('./modules.css');

*{
    box-sizing: border-box;
}
body{
    font-family: Barlow, Arial, sans-serif;
    margin: 0;
}

/* Navigation styling */
nav{
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
nav ul li{
    list-style: none;
    display: inline;
}
nav a{
    text-decoration: none;
}
nav form, nav input, nav select{
    display: inline;
}

/* Header styling */
header{
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 450px;
    background: url('../assets/header-bg.png') repeat; /* placeholder ish for now*/
    /* background: linear-gradient(180deg, rgba(197,70,100,1) 0%, rgba(13,1,117,1) 100%);  */
}
.header-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

main{
    padding: 20px;
}

.how-to-search{
    display: flex;
    flex-flow: row;
}

figure{
    width: calc(100%/3 - 10px);
}

/* Footer styling */
footer{
    background:linear-gradient(180deg, #360265 0%, rgba(13,1,117,1) 100%);
    color: white;
}


/* Text styling */
h1, h2{
    font-family: Timmana, Arial, Helvetica, sans-serif;
}
h1{
    font-size: 84pt;
    color: white;
    text-shadow: 3px 3px #5ca8df;
}
h3{
    font-size: 16pt;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Form */
input, textarea, button, select{
    font-family: Barlow, Arial, Helvetica, sans-serif;
    height: 30px;
    border: 0;
    margin-left: -3px;
}
header input{
    padding: 10px;
    width: 250px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid lightgray;
}
header button{
    background-color: #e02c7d;
    width: 80px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
select{
}