/* Navigation styling */

nav{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    z-index: 100;
}

#logo{
    display: flex;
    justify-content: center;
    align-content: center;
}
#logo img{
    height: 22px;
    width: 22px;
    margin-right: 10px;
}
#logo{
    float: right;
}

nav ul li{
    list-style: none;
    display: block;
    margin-right: 20px;
}
nav ul{
    justify-content: center;
    align-content: center;
}

nav a{
    color: white;
    font-size: 14pt;
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #961851;
}

.intro{
    line-height: 1.5em;
}
figure{
    margin-bottom: 5px;
}
figure li{
    text-align: left;
}

#menu-toggle{
    display: block;
    position: relative;
    top: -5px;
    left: 10px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}


#menu-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none; /* safari 4 */
}

#menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

#menu-toggle span:first-child {
    transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark */
#menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/* Hide the middle one. */
#menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* The last one should go the other way */
#menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 -50px -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/* Slide it in */
#menu-toggle input:checked ~ ul {
    transform: none;
}

nav form, nav input, nav select{
    display: inline;
}

/* Form */
input, textarea, button, select{
    font-family: Barlow, Arial, Helvetica, sans-serif;
    height: 30px;
    border: 0;
    margin-left: -3px;
}
header input{
    padding: 10px;
    width: 250px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid lightgray;
    transition: 0.3s;
}
header button{
    background-color: #e02c7d;
    width: 80px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
select{
    border-radius: 0;
}
li button, #add-butt{
    margin: 15px 0;
    padding: 10px;
    background-color: lightgray;
}

header input[type="text"]:focus, header select:focus, header button:hover{
    transition: 0.3s;
    border: none;
    outline: none;
}

/* about page */
.about figure{
    width: 100%;
    height: 220px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    clear: both;
}
.about figure img{
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

/* Intro */
.intro{
    margin: 15px 0;
    font-size: 16pt;
}
.how-to-search{
    background-color: #d8dfe2;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.how-to-search ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
.how-to-search img{
    width: 200px;
    height: 200px;
}

/* div:nth-child(even){background:#ff0000;color:#fff;}
.fade-ani{opacity:0;position:relative;}
.fade-up{bottom:-50px;}
.fade-down{top:-50px;}
.fade-left{left:-50px;}
.fade-right{right:-50px;}

.fade-ani.showing{}
.fade-in.showing{opacity:1;}
.fade-up.showing{bottom:0px;opacity:1;}
.fade-down.showing{top:-0px;opacity:1;}
.fade-left.showing{left:-0px;opacity:1;}
.fade-right.showing{right:-0px;opacity:1;} */

/* playlist results */

.fade-ani.showing{}
.fade-up.showing{
    opacity: 1;
}
.fade-up.showing{
    bottom: 0px;
    opacity: 1;
}
.fade-down.showing{
    top: -0px;
    opacity: 1;
}
.playlist li{
    list-style: none;
    clear: both;
    border: 1px solid lightgray;
    padding: 15px;
    min-height: 180px;
    margin-bottom: 20px;
    transition: all ease-out 0.5s 0s;
    opacity: 0.8;
    border-radius: 10px;
}

.playlist a{
    text-decoration: none;
    color: #961851;
    font-weight: bold;
}
.playlist a:hover{
    color: #e02c7d;
    text-decoration: underline;
    text-decoration-style: wavy;
}

.playlist li:nth-child(even){
    background: #f4f4f4;
    color: #030303;
} 

.fade-ani{
    opacity: 0;
    position: relative;
}
.fade-up{
    bottom: -5px;
}
.fade-down{
    bottom: -5px;
}

.playlist li img{
    float: left;
    margin-right: 20px;
    height: 150px;
    width: 150px;
    object-fit: contain;
}
.playlist h5{
    margin-bottom: 20px;
}
.playlist h6 b{
    font-weight: bold;
}
.playlist li:hover{
    transition: 0.2s ease;
    opacity: 1;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 0px 8px #2b2b2b;
}


@media only screen and (max-width: 480px){
    nav a{
        text-decoration: none;
    }
    nav form, nav input, nav select{
        display: inline;
    }
    
    /* Form */
    input, textarea, button, select{
        font-family: Barlow, Arial, Helvetica, sans-serif;
        height: 30px;
        border: 0;
        margin-left: -3px;
    }
    header input{
        padding: 10px;
        width: 150px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: 1px solid lightgray;
        transition: 0.3s;
    }
    header button{
        background-color: #e02c7d;
        width: 80px;
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    
    /* playlist results */
    .playlist li{
        list-style: none;
        clear: both;
        border: 1px solid lightgray;
        padding: 15px;
        min-height: 180px;
        margin-bottom: 20px;
        transition: 0.2s ease;
        opacity: 0.8;
        border-radius: 10px; 
        display: flex;
        flex-direction: column;
    }
    .playlist li img{
        height: 150px;
        width: 150px;
        object-fit: contain;
        float: none;
        display: block !important;
        align-self: center;
    }
    .playlist h5{
        margin-bottom: 20px;
    }
    .playlist h6 b{
        font-weight: bold;
    }
    .playlist li:hover{
        transition: 0.2s ease;
        opacity: 1;
        background-color: rgb(247, 247, 247);
        box-shadow: 0px 0px 8px #2b2b2b;
    }
}

