<footer>
    <h3>OneSound</h3>
    <div>
        <h5>Jump back to</h5>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/saved">Saved</a></li>
        </ul>
    </div>
    <div>
        <h5>With thanks to</h5>
        <ul>
            <li><a href="/">Credit</a></li>
            <li><a href="">Credit</a></li>
            <li><a href="">Credit</a></li>
        </ul>
    </div>
</footer>