<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<footer>
    <h3>OneSound</h3>
    <div>
        <h5>Jump back to</h5>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/saved">Saved</a></li>
        </ul>
    </div>
    <div>
        <h5>With thanks to</h5>
        <ul>
            <li><a href="/">Credit</a></li>
            <li><a href="">Credit</a></li>
            <li><a href="">Credit</a></li>
        </ul>
    </div>
</footer>