<nav>
    
    <div id="menu-toggle">

        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
    
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/saved">Saved</a></li>
        </ul>

    </div>

    <div id="logo">
        <img src="../../assets/radio-waves-64.png">
        <h4>OneSound</h4>
    </div>

</nav>
