<nav>
    <!-- <a class="burger-nav"></a> -->
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/saved">Saved</a></li>
    </ul>
    <ul>
        <img src="../../assets/radio-waves-64.png">
        <h4>OneSound</h4>
    </ul>

    <!-- <form action="/searches" method="post">
        <input type="text" name="search" placeholder="Search for an artist, song title, or genre" required>
        <select name="search" required>
            <option value="artist">Artist</option>
            <option value="genre">Genre</option>
        </select>
        <button type="submit">Search</button> 
    </form> -->
</nav>
